 body{
  background-image: url(../img/Фон\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

  *{
    text-decoration: none;
  }
 
                     /* Header */
.header{
  margin: 0 auto;
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding: 18px 80px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 54px;
}
.head-right-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-title{
  font-weight: 700;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
}

.head-title:hover{
  color: #01813F;
}
.head-describe{
  font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
}

.head-describe::before{
  content: '';
  width: 1px;
height: 19px;
 margin: 0 26px; 

 mix-blend-mode: normal;
 border: 1px solid grey;

 background: rgba(255, 255, 255, 0.9);
 mix-blend-mode: normal;
}
.head-link-logIn,
.head-link-sign{
  color: #FFFFFF;
}
.head-link-logIn:hover,
.head-link-sign:hover{
  color: #01813F;
}
.head-right-content .svg-header:not(:last-child){
  margin-left: 25px;
}
svg{
  fill: white;
}
.svg-header:hover svg{
  fill: #01813F;
}

                     /* Main */
    .main-content{
     margin: 0 auto;
    max-width: 340px;
    position: relative;
    padding: 40px 60px;     
background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.main-content::before{
  content: '';
  width: 18px;
height: 18px;
background: #3CB878;
position: absolute;
top: 30px;
left: 0;
}


.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
} 
.main-title{
  font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #434343;
}
.main-login{
  color: #3CB878;
  font-weight: 400;
font-size: 14px;
line-height: 14px;
}
.main-login:hover,
.colored:hover{
  text-decoration: underline;
}
 .main-buttons{
   display: flex;
   justify-content: space-between;
   margin-bottom: 32px;
 }  

 .main-btn-facebook{
  cursor: pointer;
   padding: 12px 22px 12px 16px;
   background: #305DB8;
   border: none;
   border-radius: 4px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .main-btn-facebook:hover{
  background: #022263;

 }
 .main-btn-google:hover{
  background: #AB1F09;

 }

 .btn-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
 }
 .main-buttons .btn-text::before{
  content: '';
  background: #0A162F;
mix-blend-mode: normal;
opacity: 0.1;
border: 1px solid black;
margin: 0 18px;
 }
 .main-btn-google{
padding: 12px 26px 12px 14px;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
background: #DF4A32;
border: none;
border-radius: 4px;
 }

 .devider{

  display: flex;
  justify-content: center;
  align-items: center;
 }
 .devider::before,
 .devider::after{
   content: '';
   width: 100%;
   height: 1px;
   border: 1px solid #F2F2F2;
   background: #F2F2F2;

   margin-inline:5px ;

}  
            

             /* Form */
              form{
               margin-top: 11px;
             }
.inputs{
   width: 100%;
   border: 2px solid #F2F2F2;
   border-radius: 4px;
   padding-top: 15px;
   padding-bottom: 15px; 
  outline: none;

  }
  input::placeholder{
    padding-left: 20px;
  }
  .inputs:focus{
    box-shadow: 0 4px 12px #dbdbdb;
  }


.input-blocks:not(:last-child){
  margin-bottom: 15px;
}
.agreement{
  padding-bottom: 20px;
  font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #434343;
}
.colored{
  color: #3CB878;
  cursor: pointer;
}
.create_account{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
border: none;
background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
width: 100%;
padding: 16px 0;
cursor: pointer;
margin-top: 20px;
}
.create_account:hover{
  background: #01813F;
  
}
 label::before{
	content: '';
		position: relative;
		display: inline-block;
		-webkit-appearance: none;
		background-color: transparent;
		border: 2px solid #ddd;
		 box-sizing: border-box;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		cursor: pointer;
		margin-right: 5px; 

}

[type ="checkbox"]{
  width: 0;height: 0;
  position: absolute;
} 


[type="checkbox"]:checked + label::before{
  background-image: url(../img/label.svg);
  background-repeat: no-repeat;
  background-position: center;  
}   

                   /* Changing colors */

 .second-background{
background-image: url(../img/phon2.jpg);
background-repeat: no-repeat;
background-size: cover;
}



.btn-change{
background-color: yellowgreen;
padding: 10px 20px;
font-weight: 400;
font-size: 16px;
line-height: 16px;
border: none;
cursor: pointer;
position: fixed;
top: 50%;
border-radius: 5px;
}
.btn-change-two{
  background-color: orange;
  color: white;
 }

.main-content-two{
  margin: 0 auto;
  max-width: 340px;
  position: relative;
  padding: 40px 60px;     
background-color: rgb(255, 166, 0);
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.main-content-two::before{
  content: '';
  width: 18px;
height: 18px;
background: #2402b8;
position: absolute;
top: 30px;
left: 0;
}

.create_account-two{
  background-color: black;
}
.create_account-two:hover{
  background-color: rgb(0, 153, 255);
}

.main-login-two,
.colored{
  color: rgb(244, 247, 247);
}
.header-two{
  margin: 0 auto;
  background:rgb(255, 174, 0);
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0,2);
  padding: 18px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}  
