.grey-svg {
    fill: #cbc9c9;
    cursor: pointer;
}

.blue-svg {
    fill: #000bbb;
    cursor: pointer;
}

.svg-favourite-white{
    fill:#cbc9c9;
}
.svg-favourite-blue{
    fill:#000bbb;
}



.card-wrapper {
    padding: 10px;
    border-radius: 20px;
    background-color: darkorange;
    margin-top: 20px;
    position: relative;
}

.remove-card {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #d4f5ff;
    width: 25px;
    height: 30px;
    background-color:#140058;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.image {
    width: 300px;
    height: 300px;
}

.flex-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

.color {
    font-size: 16px;
}

.device-name {
    color: #4b084c;
}
