body{
  background: #E5E5E5;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
*{
  text-decoration: none;
}
.price_table{
  border: 15px solid  #3A4965;
  border-collapse: collapse;
  margin: 50px auto;
}
caption{
  text-align: left;
}
 
thead td,th,
tbody td{
  width: 314px;
  text-align: center;
  padding: 28px 0;
}
 tfoot td{
  padding: 40px 0;
  
   width: 314px;
   text-align: center;
 }



td:not(:last-child){
border-right: 2px solid #E3E3E3;

}
.Choose-plan{
  font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #484848;

}
.perMonth{
  vertical-align:top;
}
.pricing-plan{
  padding-top: 15px;
  font-weight: 700;
font-size: 30px;
line-height: 28px;

}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  margin-right: 4px;
}
 .standart{
  font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
background: #89C331;
} 
.ultimate{
  font-weight: 700;
font-size: 30px;
line-height: 28px;
color: #FFFFFF;
background: #F04A56;
}
.Choose-plan,
.price{
  background: #FAFAFA;
border-right: 2px solid #E3E3E3;
  
}
.premium{
  font-weight: 700;
font-size: 24px;
line-height: 28px;
color: white;
background: #20807C;
}
.storage-column,
.mail-column,
.products-column{
  background: #F2F2F2;
}
.flex-td{
  display: flex;align-items: center;
  justify-content: center;
}
.big-title{
  font-weight: 700;
font-size: 60px;
line-height: 28px;
color: #484848;
position: relative;
}
.big-title::after{
  content: '.99';
  font-weight: 700;
font-size: 24px;
line-height: 28px;
position: absolute;
/* bottom: 20px; */
top: -5px;
left: 114px;
}
            /* Footer */
            .footer-link{
              padding: 20px 60px;
              font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;
          }
  .footer-link{
  border-radius: 0px 0px 5px 5px;
  box-shadow:
  inset 0 -12px 1px rgba(0,0,0,8%);
  }
            
.contact{
  background: #484848;
}
.footer-item-first,
.footer-item-third{
  background: #EEEEEE;

} 


.footer-item-second{
  background: #F4F4F4;
}
.green{
  background: #89C331;
}
  
.red{
  background: #F04A56;
}
.blue{
  background: #20807C;
}

    

