
body{
  background-color: thistle;
}
.image-to-show {
  width: 400px;
  height: 400px;
}

.images-wrapper {
  display: flex;
  justify-content: center;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
button{
 padding: 20px 50px;
margin: 10px;
font-size: 20px;
border: none;
border-radius: 5px;
color: white;
cursor: pointer;
}
.stop{
background-color: rgb(212, 28, 53);

}
.start{
  background-color: steelblue;
}