.card-wrapper{
    padding: 10px;
  border-radius: 20px;
  background-color: darkorange;
  margin-top: 20px;
  }

  .image{
     width: 300px;
     height: 300px;
  }
  .flex-wrapp{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
.price{
   font-weight: bold;
   font-size: 24px;
color: black;   
}
.art{
   font-size: 15px;
}
   
.color{
   font-size: 16px;
   font-weight: bold;
}
.device-name{
   color: #4b084c;
}

