body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
.menu {
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
}
img {
  width: 100%;
}
.menu-list {
  display: inline-block;
  margin-right: 72px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
}
.menu .menu-list:nth-child(4) {
  margin: 0;
}
.link {
  text-decoration: none;
  color: #ff0000;
}
.main-content {
  text-align: center;
}
.main-title {
  margin-top: 50px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.main-text {
  margin-top: 38px;
  padding: 0 40px;
  text-align: center;
  letter-spacing: 2.4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.button {
  cursor: pointer;
  margin-top: 66px;
  width: 191px;
  height: 51px;
  text-align: center;
  background: #ff0000;
  border-radius: 4px;
  border: 1px solid;
  color: white;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.footer {
  margin-top: 82px;
  margin-bottom: 29px;
}
.copyrights {
  text-align: right;

  letter-spacing: 2.4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
