
body{
  background-color: black;
  overflow: hidden;
}
.wrapper{
width: 50em;
height: 80em;
  overflow: hidden;
  position: relative;
  transform: perspective(300px) rotateX(15deg);
}
audio{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 30px;
}
h1{
  font-size: 80px;
line-height: 66px;
margin-bottom: 80px;
}
h2{
  font-size: 50px;
  line-height: 50px;
margin-bottom: 50px;
}
p{
  font-size: 40px;
  line-height: 150px;
}
.text{
  position: absolute;
  animation: scroll 30s linear infinite;
 color: white;
 text-align: center;
 color: orange  ;
}
@keyframes scroll {
  from { top:100%; }
  to { top: -100%; }
  }
  .flex-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
