.cards-content{
    display: flex;
    justify-content: center;
    
 }
 .card-item{
     position: relative;
     padding: 10px 20px;
     width: 300px;
     height: 130px;
     border: 1px solid black;
     background-color: rgb(151, 207, 207);
     margin-bottom: 10px;
     text-align: center;
 }
 
 .name{
     color: sienna;
     margin-bottom: 10px;
 }
 .email{
     margin-bottom: 5px;
 }
 .remove-btn{
     position: absolute;
     top: 0;
     right: 0;
     cursor: pointer;;
 }
 
