body{
  font-family: 'Montserrat', sans-serif;
}
*{
  text-decoration: none;
}
section{
  text-align: center;
}
.container{
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.titles{
  font-weight: 400;
font-size: 36px;
line-height: 40px;
color: #4E4E4E;
margin-bottom: 26px;
}

                        /* Head section starts */

 .head-section{
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 240px;
  background-attachment: fixed;

} 
.head-wrapper{
  background: rgba(94, 93, 88, 0.6);
margin-bottom: 264px;
}

               /* Header */
 .header{
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .head-right-menu{
  display: flex;
  align-items: center;
 }
 .head-items-list{
  display: flex;
  align-items: center;
}
.head-items{
  margin-right: 20px;
}
.head-items-link{
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
position: relative;
}
.head-items:hover .head-items-link::after{
  content: '';
  display: block;
  height: 2px;
  right: 0;
  left: 0;
  background-color:  #18CFAB;
  position: absolute;
  bottom: -76px;
}
.head-items-link:hover{
  color: #18CFAB;

}
.head-items{
  align-self: flex-start;
}
.search-icon{
  align-self: flex-end;
}

             /* header ends */
  .semi-title{
    font-weight: 700;
font-size: 35px;
color: #FFFFFF;
text-transform: uppercase;
  }
  .colored{
    color: #18CFAB;
  }
  .head-title{
    font-weight: 700;
font-size: 78px;
color: #FFFFFF;
text-transform: uppercase;
padding: 22px 0;
}
.just-buy{
  margin-bottom: 134px;
  color: #D4D4D4;
  font-weight: 400;
  font-size: 34px;
}
.green-button{
  padding: 16px 18px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
line-height: 32px;
text-transform: uppercase;
background: #18CFAB;
border: none;
box-shadow:inset 0 4px white;
border-radius: 4px;
margin-right: 12px; 
}
.blue-button{
  padding: 16px 10px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
line-height: 32px;
background: #00CBF6;
border: none; 
text-transform: uppercase;
box-shadow:inset 0 4px white;
border-radius: 4px;
margin-left: 12px;
}


                          /* head-section ends */
     
                          /* Square-section */
.square-section{
  background: #FFFFFF;
  padding-top: 8px;
}
.square-section .square-image{
  height: 100px;
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
 .squares-flex {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: #18CFAB;
 }
 .black-back{
  background: #1C2A33;
}
.green-back{
  background: #18CFAB;
}

.green-text{
  color: #18CFAB;
  font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
}
.white-text{
  font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;
text-transform: uppercase;
}

                    
               /* Our Services  */
  .our-services{
    padding-top: 82px;
    padding-bottom: 90px;
  }
   
.line{
  width: 75.54px;
height: 1px;
background: #18CFAB;
border: none;
}
.hr-block{
  position: relative;
  display: inline-block;
  margin-bottom: 70px;
}
.hr-block::after{
position: absolute;
left: 15px;
bottom: 4px;
  content: '';
  width: 75.54px;
  height: 1px;
  background: #18CFAB;
  border: 2px solid black;
  border: none;
  display:block;
}
.our-services .service-tab-wrapper{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-bottom: 26px;
}
.our-services .grid-items{
  padding: 15px 20px;
cursor: pointer;
  background: #F8FCFE;
  border: 1px solid #EDEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.our-services .grid-items.active::after{
content: '';
width: 20px;
height: 20px;
position: absolute;

background: #18CFAB;
transform: translate(-50%);
left: 45%;
transform: rotate(45deg);
bottom: -10px;
}
.our-services .grid-items.active{
  background: #18CFAB;
}
.our-services .grid-items:hover{
  border: 1px solid #18CFAB;
}
.tabs-content{
  display: none;
  font-weight: 300;
font-size: 13px;
line-height: 24px;
color: #777777;
}

.flex-content{
  display: flex;
align-items: center;
column-gap: 15px;  
}
.active-content{
  display: block;
}
.tabs-content-wrapper img{
  width: 192px;
  height: 139px;
}



.active:hover{
  background: #18CFAB;

}
  /* Our Services ends */


  /* Everything is ready section  */

  .everything-is-ready{
    background-image: url(../img/everything-is-ready/back-everything_is_ready.png);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;

  }
  .everything-is-ready .wrapper{
    padding: 126px 0;
  }
  .everything-is-ready .title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .everything-is-ready .describe{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 68px;
  }

  .everything-is-ready .purchase{
    color: #FFFFFF;
    font-weight: 700;
font-size: 15px;
line-height: 32px;
padding: 16px 10px;
background: #18CFAB;
border: none;
box-shadow:inset 0 4px white;
border-radius: 4px;
text-transform: uppercase;
cursor: pointer;
  }


                      /* Our Amazing Work */
.our-amazing-work{
  background: #E9EDEF;
  padding-top: 96px;
  padding-bottom: 100px;
}
.our-amazing-work .list-wrapper-flex{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.our-amazing-work .list-items:first-child{
  padding: 12px 30px;
  border: 1px solid #DADADA;
  font-weight: 400;
font-size: 14px;
line-height: 42px;
color: #717171;
}
.our-amazing-work .image-wrapper{
  position: relative;
}

.our-amazing-work .list-items{
  padding: 14px 12px;
  border: 1px solid #DADADA;
  font-weight: 400;
font-size: 14px;
line-height: 42px;
color: #717171;

}
.image-wrapper img{
  width: 290px;
}
.our-amazing-work .list-items:hover{
  border: 1px solid #18CFAB;
  color: #18CFAB;
  cursor: pointer;
}

.our-amazing-work .hover-block{
  padding: 40px 34px;
  position: absolute;
  background: #E9EDEF;
  display: none;
}




.our-amazing-work .image-wrapper:hover .hover-block{
  display: block;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  border: 1px solid #DADADA;
}
.hover-block-title::before{
  content: '';
  display: block;
  position: absolute;
  right: 0;left: 0;
  height: 3px;
  background: #18CFAB;
top: 0;
}
 
.our-amazing-work .hover-block-title{
  color: #18CFAB;
  font-weight:700;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 34px;
}

.our-amazing-work .hover-block-describe{
  font-weight: 300;
font-size: 12px;
line-height: 25px;
color: #8A8A8A;
}
.our-amazing-work .gallery-content{
display: flex;
flex-wrap: wrap;
}

.our-amazing-work-btn{
  padding: 10px 26px;
  background: #18CFAB;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 70px;
}
.btn-wrapper{
  display: flex;
  align-items:center;
  gap: 15px;
}
.our-amazing-work-btn .load-more{
  font-weight: 700;
font-size: 14px;
line-height: 42px;
color: #FFFFFF;
text-transform: uppercase;
}
 button.loader {
	background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  	 background-repeat: no-repeat;
	background-position: center; 

}


                    /* Breaking News */

   .breaking-news {
 padding-top: 82px;
padding-bottom: 128px;
   }               
  .breaking-news .center-wrapp{
    text-align: center;
   }
  .breaking-news .image-wrapp{
    position: relative;
  }
.absolute-block{
  position: absolute;
  top: 0;right: 0;
  padding: 16px 22px;
  background: #203E38;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.breaking-news-link{
overflow: hidden;
}
.breaking-news-link:hover .absolute-block{
  background: #18CFAB;
}
.breaking-news-link:hover .title{
  color: #18CFAB;
}
.breaking-news-link:hover img{
  transform: scale(1.1);
  transition: transform 0.5s linear;
}

.breaking-news .title{
  font-weight: 700;
font-size: 17px;
line-height: 39px;
color: #717171;
margin-left: 20px;
}

.breaking-news .describe{
  font-weight: 300;
font-size: 14px;
line-height: 39px;
color: #777777;
margin-left: 10px;
}
.slash-devider{
  margin-right: 10px;
  margin-left: 10px;
}

.breaking-news .flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 

         /* What People Say About theHam */



.what-people-say{
  background: url(../img/section-3.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 102px;
}
.title-ham{
  font-weight: 400;
font-size: 36px;
line-height: 40px;
color: #FFFFFF;
}



/*swiper*/

                                                  /* .swiper-container {
                                                    width: 100%;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                  } */

.swiper-slide {
  background-position: center;
}
.svg-ham{
  margin-bottom: 36px;
}


.swiper-text,
.swiper-position{
  font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #BBBBBB;
}


.gallery-bottom {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 61px;
  width: 400px;
}

.gallery-bottom .swiper-slide {
  height: 60px;
  width: 58px !important;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(26, 206, 171, .2);
}

.gallery-bottom .swiper-slide-thumb-active {
  border: 2px solid #18cfab;
  position: relative;
  bottom: 10px;
}

.arrow-absolute {
  position: relative;
}

.swiper-button-next {
  position: absolute;
  top: -35px;
  right: 240px;
  border: 1px solid #969a9c;
  width: 10px;
  height: 15px;
  padding: 7px 11px;

}

.swiper-button-prev {
  position: absolute;
  top: -35px;
  left: 240px;
  border: 1px solid #969a9c;
  width: 10px;
  height: 15px;
  padding: 7px 11px;
}


.arrow {
  color: #969a9c;
}

.swiper-header-name {
  text-transform: uppercase;
  color: #18cfab;
  font-weight: 700;
  margin: 43px 0 15px;
}

.swiper-position {
  margin-bottom: 38px;
}

.swiper-image {
  border-radius: 50%;
  border: 2px solid #18cfab;
  box-shadow: 0 0 0 10px rgba(26, 206, 171, .2);
  width: 152px;
  height: 152px;
}

.swiper-button-white:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  color: white;
}

.swiper-button-white:hover .arrow {
  color: white;
}


                              /* Footer */

 .footer{
  background: #22353F;
  text-align: center;
  padding: 48px;
 }                             
 .copyrights{
  color: #AEAEAE;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
 }