
body{
    font-family: 'Roboto', sans-serif;
}
section{
    text-align: center;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header{
    background-image: url(../img/bg1.jpg); 
    background-size: cover;
    /* background-position: center;  */
padding-top: 50px;
position: relative;

}
    .header::after{
        
        content: '';
        background-color: #000000;
        position: absolute;
        /* top: 0;
        right: 0;
        left: 0;
        bottom: 0; */
        inset: 0;
        opacity: 0.6;
        }

    .header .content{
        transform-style: inherit;
        position: relative;
        z-index: 2;
    }

.navbar-title{
    color: #424F57;
    text-decoration: none;
    font-size: 36px;
line-height: 36px;
}
.colored{
    color: #14AFCA;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar{

    background-color: white;
}

.navbar-menu{
    display: flex;
}
 .navbar-menu .items{
    padding: 40px 0;
 }   
 .navbar-menu .items:not(:last-child){
    padding-right: 42px;
 }

 .navbar-menu .links{
    font-weight: 700;
font-size: 15px;
line-height: 20px;
color: #424F57;
text-transform: uppercase;
text-decoration: none;
 }
.head-title{
    font-weight: 700;
    font-size: 52px;
line-height: 75px;
color: #FFFFFF;
padding-top: 150px;
padding-bottom: 140px;
text-transform: uppercase;
}

/* section about */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 122px;
    padding-bottom: 100px;
}
.about .wrapp{
    max-width: 992px;
}
.about .title{
    font-weight: 700;
font-size: 60px;
line-height: 40px;
margin-bottom: 20px;
}
.subtitle{
    font-weight: 700;
font-size: 18px;
line-height: 30px;
color: #424F57;
margin-bottom: 30px;
}
.text{
    font-size: 16px;
line-height: 30px;
color: #424F57;
}

/* Companies */
.companies{
    background:url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    padding-top: 44px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
}
 
    
    
.companies .content{
    position: relative;
    z-index: 2;
}
/* .companies::after{
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
     bottom: 0;
     opacity: 0.2;
} */
.companies .title{
    font-weight: 700;
font-size: 60px;
line-height: 75px;
color: #14AFCA;
text-transform: uppercase;
}
.companies .subtitle{
    font-size: 18px;
line-height: 75px;
color: #FFFFFF;
letter-spacing: 0.899999px;
font-weight: 600;
margin-bottom: 18px;
}
.img-flex{
    padding: 18px 16px;
    max-width: 225px;
display: flex;
align-items: center;
    background-color: #FFFFFF;
    justify-content: center;
    justify-self: center;
}
.labels-wrapp{
display: grid;
grid-template-columns: repeat(4,1fr);
align-items: center;
row-gap: 122px;
}

/*Meet us section  */

.meetUs{
    padding-top: 82px;
    padding-bottom: 202px;
    /* position: relative; */
}
/* .meetUs::after,
.meetUs::before{
    content: '';
position: absolute;
width: 150px;
height: 210px;
background-color:white;
bottom: 0;
}

.meetUs::after{
    right: 50%;
    transform: skew(0,7deg);
    width: 100%;
}
.meetUs::before{
    transform: skew(0,-7deg);
  width: 100%;
} */
.meetUs .title{
    font-weight: 700;
font-size: 60px;
line-height: 40px;
margin-bottom: 20px;
}
.meetUs .subtitle{
    letter-spacing: 1.5px;
    color: #424F57;
}
.meetUs .flex-wrapp{
    display: flex;
    justify-content: space-between;
}

.description{
    max-width: 309px;
    font-size: 15px;
line-height: 28px;
margin-top: 20px;
}
.middle-img{
    min-width: 207px;
min-height: 206px;
}


/*Testimonials*/
.testimonials{
    background-repeat:no-repeat;

    background: url(../img/infrustructure_back1.jpeg);
    background-position: center;
    padding-top: 200px;
    padding-bottom: 150px;
    position: relative;
}
.testimonials::after{
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.8;
}
.testimonials .content{
    position: relative;
    z-index: 2;
}
.testimonials .title{
    font-weight: 700;
font-size: 60px;
line-height: 40px;
letter-spacing: 1.5px;
text-transform: uppercase;
margin-bottom: 20px;
}
.testimonials .subtitle{
    font-size: 18px;
    line-height: 75px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 18px;
    letter-spacing: 3px;
}
.testimonials .text{
    font-size: 16px;
line-height: 28px;
color: #D3CCCC;
letter-spacing: 0.8px;
margin-bottom: 28px;

}
.testimonials .text-wrapp{
    width: 962px;
    margin: 0 auto;
}
.autor{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
line-height: 24px;
color: #FFFFFF;
text-align: right;
padding-right: 168px;
}

/*section why*/
.why{
    padding-top: 105px;
}
.why .title{
    font-weight: 700;
font-size: 60px;
line-height: 40px;
letter-spacing: 1.5px;
text-transform: uppercase;
margin-bottom: 20px;
}
 
.why .subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #424F57;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
.why .subscribe{
    font-weight: 700;
font-size: 30px;
line-height: 48px;
color: #424F57;
}
.copyrights{
    text-align: center;
    margin-top: 96px;
    padding-bottom: 88px;
    
}

.copyrights .text{
    font-size: 14px;
    line-height: 24px;
    color: #3D3C3C;
    letter-spacing: 0.7px;
}
.iconic{
    font-weight: 700;
    color: black;
}
