
.modal-wrapper{
    position: relative;
    width: 400px;
    box-sizing: border-box;
}
    
.first-modal{
    background-color:#e50000;
}
.second-modal{
    background-color: #01adc4;
}
.header-modal-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
    padding:0 15px;
}
  
.header-modal-second{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff7100;
    padding:0 15px;
    text-align: center;
}
   
.head-title{
    font-size: 20px;
    color: white;
}
.main-wrapper{
    padding: 15px;
    color: white;
    text-align: center;
}
.body-background{
    background-color: grey;
}
.second-modal-wrapper{
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color:#213ac9;
    box-sizing: border-box;
}
.total-wrapp{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    right: 0;bottom: 0;
    background-color:#ebfff880;
    display: flex;
    justify-content: center;
    align-items: center;
}
   