body{
  font-family: 'Roboto', sans-serif;
  background: url(../images/background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
*{
  text-decoration: none;
  list-style: none;
}
.container{
  max-width: 1030px;
  margin: 0 auto;
}
 .wrapper{
   padding-top: 46px;
   padding-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
background-size: 100%;
} 
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.milan{
  font-size: 29px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.mail,
.tel{
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.mail:hover{
  color: #F26522;
}
.tel:hover{
  color: #F26522;
}
.header-left:hover .head-logo-image{
  content: url(../images/logo\ 2.png);
}
.header-left:hover .milan{
  color: #F26522;
}

.holidays{
  font-weight: 700;
font-size: 18px;
line-height: 18px;
}
.head-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
}
.header-left{
  display: flex;
  align-items: center;
}
                       /* Main */

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.main-posts {
  position: relative;
    margin-top: 20px; 
   margin-bottom: 20px;  
}                      
.from{
  font-weight: 400;
font-size: 10px;
line-height: 10px;
color: white;
padding-bottom: 8px;
}
.euro{
  font-weight: 400;
font-size: 20px;
line-height: 20px;
color: white;
}
.view{
  font-weight: 400;
font-size: 14px;
line-height: 14px;
color: white;
}
.view::after{
  content: url(../images/arrow.svg);
  margin-left: 16px;
  vertical-align: middle;
}
.main-description{
  font-weight: 400;
font-size: 18px;
line-height: 18px;
color: white;
text-align: center;

}
.main-link:hover .main-description{
  color: #F26522;
  transition: all 0.5s ease-in-out;

} 

.hover-block{
  opacity: 0;
  background: radial-gradient(at bottom right, purple, crimson, orangered, gold);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 7px 14px 12px 16px;

  }


 .main-link:hover .hover-block{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: all 0.5s ease;
 opacity: 1;
} 
                /* Footer */
     
          
   .copyrights{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-top: 50px;
    };
    
.some{
  color: #FFFFFF;
}

