
.btn{
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: azure;
    cursor: pointer;
}
.btn-one{
    background-color: rgb(255, 81, 0);
    padding: 20px 30px;

}
.btn-two{
    background-color: rgb(131, 15, 160);
    padding: 20px;
    
}
   .btn-wrapper{
    margin: 100px auto;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
   }
   .controllers-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
   }
.controllers{
    padding: 5px 0;
  width: 65px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}