.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

            /* Header */
     .header-link{
       text-decoration: none;
     }
    .head-title{
      
font-size: 80px;
line-height: 94px;
/* color: #000000; */
margin-top: 63px;

    }
  .head-title-blue{
    color: lightseagreen;

  }  
  .menu-items{
    list-style: none;
    
font-size: 24px;
line-height: 28px;
padding: 26px 40px 20px;
border-left: 1px solid white;

  }
  .menu-items:hover{
    background: #222F3A;
    cursor: pointer;
  }
  .menu-link{
    text-decoration: none;
    color:white;
  }
  .last-child{
    border-right: 1px solid white;
  }
  .head-menu{
   margin-top: 38px; 
    background: #35444F;
    display: flex;
    justify-content: center;
  }
                    /* Main */
  .main-content{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
     align-items: flex-start; 
  }
  .aside-menu{
    border: 1px solid #000000;
     width: 344px; 
    }
 .aside-menu-items{
    list-style: none;
   padding: 26px;
   padding-left: 44px;
   font-size: 27px;
line-height: 27px;

 }
 .aside-menu-items:hover .aside-link{
  background: #DBDBDB;
   padding-left: 50px; 
 }
.aside-menu-items:hover{
  background: #DBDBDB;
cursor: pointer;
}
 
 .aside-link{
  color: #495863;
  text-decoration: none;
 }   
 .right-content{
   width: 885px;
 }      
                          /* Image */
                  
   .image-content{
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #000000;
      padding: 75px 0; 
      cursor: pointer;
   }    
   .image-content:hover .image{
     /* cursor: pointer; */
     transform: scale(1.3);
   transition: 0.3s;

   }                   
 
 
 .main-text{
   margin-top: 37px;
   font-weight: 400;
font-size: 18px;
 }

 .text2{
   margin-top: 34px;
   margin-bottom: 54px;
 }
               /* Footer */
   .footer{
      

     padding-top: 25px;
     padding-bottom: 25px;
      
      
     display: flex;
     justify-content: space-between;
     align-items: center;

     
background: rgba(99, 105, 110, 0.48);
margin-bottom: 50px;
   }
   .footer-menu{
     padding-left: 40px;
    width: 875px;
     display: flex;
     justify-content: space-between;
    
     
   }
   
   .footer-items{
     
     list-style: none;
     font-weight: 400;
     font-size: 28px;
line-height: 28px;
   }

   .footer-link{
    color: #0C1927;
    text-decoration: none;
   }
   .footer-link:hover{
    color: #3181A6;
    text-decoration: underline;
    
   }
   .copyright{
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
   }